<!-- Title-->
<ion-view title="Visatão" hide-back-button="true">
  <!-- Controller -->
  <ion-content class="padding">

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="searchString" placeholder="Digite seu termo de pesquisa">
      <button ng-if="searchString.length" class="input-button button button-icon ion-android-close" ng-click="clearString()"></button>
    </label>

    <!-- Lista dos horários -->
    <ion-list>
      <ion-item ng-repeat="item in linesList | filter:searchString" ui-sref="show({id: item.id, periodforday: periodforday, periodforweek: periodforweek })" ng-class="{'cached' : isCachedLine(item)}">
          <h2 ng-bind-html="item.descricao"></h2>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>