<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Horários">
  <ion-content class="padding">
    LINHA: {{ line.descricao }}
    <br/>
    HORARIO: {{nome_horario}}
    <br/>
    TABELA: {{nome_tabela}}
    <!-- CABEÇALHO TABELA -->
      <div class="row">
        <div class="col col-100">Itinerários e Horários</div>
      </div>
    <!-- LISTA HORARIOS -->
    <div class="list">
      <a class="item item-icon-left" ng-repeat="itinerary in itineraries" ui-sref="show_itinerary({id: line.id, idItinerary: itinerary.itinerario, hour: itinerary.hora })">
        <i class="icon ion-ios-location-outline"></i>
        <h2>{{ itinerary.destino }}</h2>
        <p>
          <i class="fa fa-wheelchair" ng-show="itinerary.elevador == '*'"></i>
          {{itinerary.hora  | limitTo: 5 }}
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
