/* Empty. Add your own CSS if you like */

.button.button-icon.input-button {
  position: absolute;
  top: 1px;
  right: 10px;
  color: #bbb;
}


ion-item.cached,
ion-item.cached a.item-content {
  /*background-color: #D4E3AB;*/
}